*  {
    box-sizing: border-box;
    padding-bottom: 10px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(240, 242, 245);
    
}

.header {
    padding: 20px;
   background-color: #2a607c;
    color: #ffffff;
   
}

a:link {
    text-decoration: none;
}

.header h1 {
    display: inline-block;
    font-size: 40px;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
   }

body{
    margin 0px;
    background-color: rgb(70, 162, 192);
   }

.image1 {
    margin: 10px;
    border-radius: 25%;
    float: center;
    height: 300px;
    border: 3px solid #ffffff;
    padding: 10px;
    }


  .image2 {
    border: 3px solid #ffffff;
    border-radius: 4px;
    padding: 10px;
    width: 500px;
  }


