*  {
    margin: 20px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
}

.header{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: flex-end; 
}

body{
    background-color: lightblue;
    
}