*  {
    margin: 20px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(240, 242, 245);
    
}

.header {
    padding: 10px;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 36px;
}

.header div {
    padding-top: 5px;
    margin-right: 10px;
    float: right;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 10px;
}

body{
    background-color: rgb(70, 162, 192);
   }

.image1 {
    border-radius: 25%;
    float: center;
    height: 300px;
    border: 3px solid #ffffff;
    padding: 10px;
    clear: both;
    justify-items: center;
  }

  .image2 {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 500px;
  }


